@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #000000;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-mono: var(--font-roboto-mono)
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #EDE4D5;
    --foreground: #000000;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  overflow-x: hidden;
  overflow-y: hidden;
  }

@media (max-width: 692px) {
  body {
    overflow-x: hidden;
    overflow-y: auto;
  }


}
@media( max-width: 1650px){
  .medium-carousel-w {
    width: 600px;
  }
}
@media( max-width: 1350px){
  .medium-carousel-w {
    width: 400px;
  }
}



